<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">The Hateful 14</h1>
    <h4>-1, porquê o Leo é um adulto agora...</h4>
    <p>Finalmente estou desenvolvendo essa porcaria de app, porquê preciso guardar os memes em algum lugar e o bira fazendo a contagem pros vídeos ta foda...</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Salas de vídeo</h2>
          <p class="card-text">Placeholder pra lista das salas</p>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Crie uma sala</h4>
          <p class="card-text">Crie uma sala para ver vídeos com os brothers sem se preocupar com contagem ou lembrar a lista de vídeos</p>
          <a class="card-link" routerLink="/video-rooms/list">Criar Sala</a>
        </div>
      </div>

    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <img src="assets/meme-stash-tumb.jpg" alt="Meme Stash" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Meme Stash</h4>
          <p class="card-text">Guarde os memes ou vídeos interessantes usando hashtags pra poder postar no face de alguém quando tiverem essa ideia idiota de novo.</p>
          <p><a class="btn btn-secondary" role="button">BIRL &raquo;</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <img src="assets/recomendacao-tumb.jpg" alt="Meme Stash" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Recomendações</h4>
          <p class="card-text">Videos, jogos, páginas quaisquer da internet. Compartilhe com os brothers coisas aleatórias (nada de NSFW aqui!).</p>
          <p><a class="btn btn-secondary" role="button">BORA &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
